.pageWrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 25px;
}

h1 {
    font-size: 64px;
}

.articleCard {
    border: 1px solid black;
    padding: 40px;
}

.articleCard--image {
    
}

.articleCard--text {
    
}